{% extends 'app/base.html' %}
{% load static %}
{% block title %}Flights{% endblock title %}
{% block main-content %}

<div class="container">
    <div class="row my-3">
        <div class="col-sm-6 offset-sm-3">
            <h3>Flight Registration</h3>
            <hr>

            <form action="" method="post" novalidate class="shadow p-5">
                <div class="radio-btn">
                    <input type="radio" class="btn" name="check" checked="checked">
                    <span>Roundtrip</span>
                    <input type="radio" class="btn" name="check"><span>0ne Way</span>
                    
                    </div>
                <div class="col-12">
                    <label for="inputName" class="form-label">Flying From</label>
                    <input type="text" class="form-control" id="inputEmail">
                  </div>
                  <div class="col-12">
                    <label for="inputName" class="form-label">Flying To</label>
                    <input type="text" class="form-control" id="inputEmail">
                  </div>
                <div class="row">
                  <div class="input-grp col-md-6">
                    <label>Departing</label>
                    <input type="date" class="form-control select-date">
                    </div>
                    <div class="input-grp col-md-6">
                    <label>Returing</label>
                    <input type="date" class="form-control select-date">
                    </div> 
                 </div>
                 <div class="row">
                    <div class="input-grp col-md-6">
                      <label>Adults(18+)</label>
                      <input type="number" class="form-control" value="1">
                      </div>
                      <div class="input-grp col-md-6">
                      <label>Childrens(0-17)</label>
                      <input type="number" class="form-control" value="0">
                      </div> 
                   </div>
                   <div class="row " >
                   <div class="input-grp col-md-6">
                    <label>Travel Class</label>
                    <select class="custom-select">
                    <option value="1">Economy Class</option>
                    <option value="2">Business Class</option>
                    </select>
                    </div>
                    <div class="input-grp col-md-6">
                    <button type="button" class="btn btn-primary flight">Show Flight</button>
                    </div>
                </div>
            
        </div>
    </div>
</div>




{% endblock main-content %}